<!DOCTYPE html>
<html>
	<head>
		<title>Vue Demo</title>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
	</head>
	<body>
		<div id="firstVue" >
				 
				 <div :hidden="my_hidden">
					 你是看不到我的
				 </div>
				 <hr/>
				 
				 <p>{{ message_liheng }}</p>
				 <input v-model="message_liheng">
				 <hr/>
				 <hr/>
				 
				 <div v-html="message"></div>
				 <hr/>
				 
				 <!-- 属性中拼接数据-->
				 <div v-bind:id="'list-' + id">李恒在学习</div>
				 <hr/>
				 
				
				<!-- 样式属性绑定 -->
				<label for="r1">修改颜色</label>
					<input type="checkbox" v-model="use" id="r1">
				<br><br>
				<div v-bind:class="{'class1': use}">
				    v-bind:class 指令
			  	</div>
				<hr/>
				 
				<!-- 超连接绑定 -->
				<pre><a v-bind:href="url">李恒的网站</a></pre>
				<hr/>
				
				



		</div>
	</body>
	<script type="text/javascript">
		var myVue = new Vue({
			el: "#firstVue",
			data:{
			    my_hidden: "hidden",
				
				message_liheng: "双向数据绑定",
				
				message: '<h1>v-html（这是一片html）</h1>',
				
				id : 1,
				
				use: false,
				
				url: 'http://www.baidu.com'
			}
		})
	</script>
	
	<style scoped>
		.class1{
		  background: #444;
		  color: #eee;
		}

	</style>	
</html>

<!--

绑定某个HTML标签的属性值
		就要用到 v-bind: 属性了
 
 v-bind: 后面写想要绑定的属性
			//my_hidden   "不需要" 用两个大括号括起来了，
 然后在VUE实例中声明这个绑定数据
 
 
 
 disabled属性，
 style属性, 
 color属性，
 凡是标签有的属性，
 都可以通过这个方法进行绑定

**************************************************************

v-bind 由于经常会用到，所以也可以缩写成冒号:，
比如上面的<div>标签就完全可以这样写
<div id="firstVue" :hidden="my_hidden">{{my_data}}</div>

 -->