<!DOCTYPE html>
<html>
	<head>
		<title>Vue Demo</title>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
	</head>
	<body>
		<div id="firstVue" >
				 
				<!--  （1）.  -->
				<hr/>
					 <ol>
						<li v-for="site in sites">
						  {{ site.name }}
						</li>
					  </ol>
			 
				<hr/>
		
		
				<!--  （2）.  -->
				<template v-for="site in sites">
					<li>{{ site.name }}</li>
					<li>--------------</li>
				</template>
				<hr/>


				<!--  （3）.  -->
				<ul>
				   <li v-for="value in object">
				   {{ value }}
				   </li>
				</ul>
				<hr/>
				
				
				<!--  （4）.  -->
				<ul>
				   <li v-for="(value, key) in object">
				   {{ key }} : {{ value }}
				   </li>
				</ul>	
				 

				<!--  （5）.  -->
				<hr/>
				<ul>
				  <li v-for="(value, key, index) in object">
				   {{ index }}. {{ key }} : {{ value }}
				  </li>
				</ul>					
				
				<hr/>
				<ul>
					   <li v-for="n in 10">
						{{ n }}
					   </li>
				</ul>	
				 
		</div>
	</body>
	<script type="text/javascript">
		var myVue = new Vue({
			el: "#firstVue",
			data:{
					sites: [
							  { name: 'Runoob' },
							  { name: 'Google' },
							  { name: 'Taobao' }
					],
					object: {
							  name: '李恒教程',
							  url: 'http://www.liheng.com',
							  slogan: '学的不仅是技术，更是梦想！'
					}	
			}
		})
	</script>
	
 	
</html>
 