<!DOCTYPE html>
<html>
	<head>
		<title>Vue Demo</title>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
	</head>
	<body>
		<div id="firstVue" >
				 
	    	<!--  （1）.v-if 指令将根据表达式 seen 的值(true 或 false )来决定是否插入 p 元素。 -->
	    	<p v-if="seen">现在你看到我了 v-if  </p>
		    <hr/>
				
				
			<!--  （2）.  -->	
			<template v-if="liheng" >
				  <h1>李恒教程</h1>
			      <p>学的不仅是技术，更是梦想！</p>
			      <p>哈哈哈，打字辛苦啊！！！</p>
			</template>	
		    <hr/>
			
			
			<!--  （3）.条件 -->
			<div v-if="Math.random() > 0.5">
			  Sorry
			</div>
			<div v-else>
			  Not sorry
			</div>		
		    <hr/>		
				 
				 
			<!--  （4）.条件 -->
		 	<div v-if="type === 'A'">
		      A
		    </div>
		    <div v-else-if="type === 'B'">
		      B
		    </div>
		    <div v-else-if="type === 'C'">
		      C
		    </div>
		    <div v-else>
		      Not A/B/C
		    </div>
	 		<hr/>	 
				 
			<!--  （5）.条件 -->	 
	 		<h1 v-show="ok">Hello!</h1>
			<hr/>	 
				 
		</div>
	</body>
	<script type="text/javascript">
		var myVue = new Vue({
			el: "#firstVue",
			data:{
			    		  seen: true,
						  liheng: true,
						  type: 'C',
						  ok: true
			},
			methods: {
 
			}
		})
	</script>
	
 	
</html>
 