<!DOCTYPE html>
<html>
	<head>
		<title>Vue Demo</title>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
	</head>
	<body>
 
		<div id="firstVueA">
		
			<button @click="message++" style = "font-size:25px;">点我A</button>
			firstVueA<input type = "text" v-model="message">
			
		</div>
		
		<div id="firstVueB">
			<button @click="message++" style = "font-size:25px;">点我B</button>
			firstVueB<input type = "text" v-model="message">
		</div>
		
		
	</body>
	<script type="text/javascript">

		/**
			这个示例主要展示了 Vue.js 的 "双向数据绑定（Two-Way Data Binding）特性" 和 "共享数据" 的使用
			
			两个 Vue 实例 vmA 和 vmB，它们共享同一个数据源。
			
			通过共享的 data 对象来管理多个 Vue 实例的状态。
		*/

		var sourceOfTruth = {
				message: 0
		};
		var vmA = new Vue({
		  el: "#firstVueA",
		  data: sourceOfTruth
		});

		var vmB = new Vue({
		  el: "#firstVueB",
		  data: sourceOfTruth
		});

		/**
			说明：
				现在当 sourceOfTruth 发生变更，
				vmA 和 vmB 都将自动地更新它们的视图。

		*/


	</script>
</html>
 

